
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{#if awayLoading}}<label id="person-rota-spinner" class="spinner">&nbsp;</label>{{/if}}Away Dates&nbsp;
                <button class="btn btn-primary" title="New Away Dates" {{action newAwayDates}}><span class="glyphicon glyphicon-plus"></span></button>
                {{view Ember.Select
                    value=awayRangeSelected
                    content=ranges
                    optionValuePath="content.value"
                    optionLabelPath="content.name"}}&nbsp;
                <button class="btn" {{action refreshAwayDates}} title="Refresh Away Dates"><span class="glyphicon glyphicon-refresh"></span></button>
            </h3>
        </div>
        <div class="panel-body" id="person-rota">
        {{#if away_dates}}
            <table class="table">
            <thead>
                <tr>
                    <th></th><th>From Date</th><th>To Date</th><th></th>
                </tr>
            </thead>
            <tbody>
            {{#each r in away_dates}}
            <tr>
                <td><button {{action editAwayDate r}} class="btn btn-default">Edit</button></td>
                <td>{{formatDate r.from_date}}</td>
                <td>{{formatDate r.to_date}}</td>
                <td><button {{action deleteAwayDate r}} class="btn btn-link"><span class="glyphicon glyphicon-remove-circle"></span></button></td>
            </tr>
            {{/each}}
            </tbody>
            </table>
        {{else}}
            <p>No away dates found.</p>
        {{/if}}
        </div>
    </div>


<div class="modal fade" id="awayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Away Dates</h4>
      </div>
      <div class="modal-body">
        {{#if awayError}}
            <div class="alert alert-danger">{{awayError}}</div>
        {{/if}}
        {{input type="hidden" name=awayForm.id value=awayForm.id class="form-control"}}
        <label>From Date</label>
        {{view App.CalendarDatePicker name=awayForm.from_date value=awayForm.from_date class="form-control" placeholder="from date"}}
        <label>To Date</label>
        {{view App.CalendarDatePicker name=awayForm.to_date value=awayForm.to_date class="form-control" placeholder="to date"}}
      </div>
      <div class="modal-footer">
        <button {{action saveAwayDate}} class="btn btn-primary">Save</button>
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
