
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="sub-heading">
        {{#if eventDataLoading}}<label class="spinner">&nbsp;</label>{{/if}}
        {{#if isEditing}}
            <button {{action 'saveEventDate' model}} class="btn btn-primary">Save</button>&nbsp;
            <button {{action 'cancelEventDate' model}} class="btn btn-default">Cancel</button>
        {{else}}
            {{#if canAdministrate}}
            <button {{action 'editEventDate' model}} class="btn btn-primary">Edit</button>
            <button {{action 'removeEventDate' model}} class="btn btn-default" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
            {{/if}}
        {{/if}}
        On {{formatDate model.on_date}}</h4>
    </div>
    <div class="panel-body">
        {{#if isEditing}}
            <div>
                <label>Focus</label>
                <div>{{textarea value=model.focus class="form-control"}}</div>
            </div>
        {{else}}
            {{#if model.focus}}
                <div>
                    <label>Focus</label>
                    <div>{{model.focus}}</div>
                </div>
                <br />
            {{/if}}
        {{/if}}
        {{#if isEditing}}
            <div>
                <label>Notes</label>
                <div>{{textarea value=model.notes class="form-control"}}</div>
            </div>
        {{else}}
            {{#if model.notes}}
                <div>
                    <label>Notes</label>
                    <div>{{model.notes}}</div>
                </div>
                <br />
            {{/if}}
        {{/if}}
        <table class="table table-striped">
            <tr>
                <th>Role</th><th>Name</th>
            </tr>
            {{#if isEditing}}
                {{#each r in model.rota}}
                    <tr>
                        <td>{{r.role.name}}</td>
                        <td>
                            {{view Ember.Select
                                    value=r.person_id
                                    content=r.people
                                    optionValuePath="content.person_id"
                                    optionLabelPath="content.person_name_status"
                                    class="form-control"
                            }}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each r in model.rota}}
                    <tr>
                        <td>{{r.role.name}}</td>
                        <td>{{#if r.active}}
                            {{#if r.is_away}}{{#link-to 'person' r.person_id}}<span class="alert-danger" title="Away">{{r.person_name}}</span>{{/link-to}}{{else}}{{#link-to 'person' r.person_id}}{{r.person_name}}{{/link-to}}{{/if}}
                            {{else}}
                            {{#link-to 'person' r.person_id}}<span class="alert-warning" title="Inactive User">{{r.person_name}}</span>{{/link-to}}
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </table>
    </div>
</div>

{{partial "confirm_dialog"}}
