<h2 class="sub-heading">{{model.event_name}}</h2>

{{#if model.role_names}}
<div class="col-lg-3">
    <div class="form-group  form-horizontal">
        <label>From Date:</label>
        {{view App.CalendarDatePicker name=from_date value=from_date placeholder="from date"}}
        <button {{action fromDateChange}} class="btn btn-primary">Go</button>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="table-wrapper">
        <table class="table table-striped rota">
          <thead>
            <tr>
                <th class="freeze">Date</th><th class="first-column">Focus</th><th>Notes</th>
                {{#each role in model.role_names}}<th>{{role}}</th>{{/each}}
                <th></th>
            </tr>
          </thead>
          <tbody>
        {{#each ed in model.event_dates}}
          <tr>
            {{#if ed.isEditing }}
                <td class="freeze">
                    {{shortDate ed.on_date}}<br>
                    <button {{action "saveEventDate" ed}} class="btn btn-primary" title="Save"><span class="glyphicon glyphicon-ok"></span></button>
                    <button {{action "cancelEventDate" ed}} class="btn btn-default" title="Cancel"><span class="glyphicon glyphicon-ban-circle"></span></button>
                </td>
                <td>{{textarea value=ed.focus class="form-control"}}</td>
                <td>{{textarea value=ed.notes class="form-control"}}</td>
                {{#each r in ed.rota }}
                <td>
                    {{view Ember.Select
                            value=r.person_id
                            content=r.people
                            optionValuePath="content.person_id"
                            optionLabelPath="content.person_name_status"
                            class="form-control"
                    }}
                </td>
                {{/each}}
            {{else}}
                <td class="freeze">
                    {{#if canAdministrate}}
                        <button {{action "editEventDate" ed}} class="btn-link"><span class="glyphicon glyphicon-edit"></span>&nbsp;{{shortDate ed.on_date}}</button>
                    {{else}}
                        {{#link-to "event_date" model.event_id ed.id}}{{shortDate ed.on_date}}{{/link-to}}
                    {{/if}}
                </td>
                <td>{{ed.focus}}</td>
                <td>{{ed.notes}}</td>
                {{#each r in ed.rota }}
                <td>
                    {{#if r.is_away}}
                            {{#link-to "person" r.person_id}}<span class="alert-danger" title="Person is away, swap needed.">{{r.person_name}}</span>{{/link-to}}
                    {{else}}
                        {{#if r.on_rota}}
                            {{#link-to "person" r.person_id}}<span class="alert-warning" title="Person is on another rota.">{{r.person_name}}</span>{{/link-to}}
                        {{else}}
                            {{#if r.active}}
                                {{#link-to "person" r.person_id}}{{r.person_name}}{{/link-to}}
                            {{else}}
                                {{#link-to "person" r.person_id}}<span class="alert-warning" title="Person is deactivated, swap needed.">{{r.person_name}}</span>{{/link-to}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </td>
                {{/each}}
            {{/if}}
            <td>&nbsp;</td>

          </tr>
        {{/each}}
          </tbody>
       </table>
    </div>
</div>

<div class="col-lg-3">{{outlet}}</div>

{{else}}
    <p>No roles defined for this rota.</p>
{{/if}}
