<h2 class="heading center">{{model.name}}</h2>

<div class="col-md-4 col-xs-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
    {{#if datesLoading}}<label class="spinner">&nbsp;</label>{{/if}}
            Dates&nbsp;
            {{#if canAdministrate}}
            <button id="create-event-dates" class="btn btn-primary" data-toggle="modal" data-target="#dialog-form" title="New Event Dates"><span class="glyphicon glyphicon-plus"></span></button>
            {{/if}}
            {{view Ember.Select
                    value=datesRangeSelected
                    content=ranges
                    optionValuePath="content.value"
                    optionLabelPath="content.name"}}
        </h3>
    </div>
    <div id="event-dates">
        <div class="list-group">
            {{#each ed in event_dates}}
                {{#link-to 'event_date' ed.id  title="View Rota" class="list-group-item"}}
                    {{formatDate ed.on_date}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <table class="panel-form">
            <tbody>
            <tr>
                <td>
                    <label>Name</label><span class="panel-cell">{{ model.name }}</span>
                </td>
                <td>
                    <label>Active</label>
                        <span class="panel-cell">
                            {{#if model.active }}
                            <span class="glyphicon glyphicon-ok"></span>
                            {{/if}}
                        </span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Frequency</label><span class="panel-cell">{{ model.frequency }}</span>
                </td>
                <td>
                    <label>Repeats Every</label><span class="panel-cell">{{ model.repeat_every }}</span>
                </td>
            </tr>
             <tr>
                <td>
                    <label>Created</label><span class="panel-cell">{{dateFromNow model.created }}</span>
                </td>
                <td>
                    <label>Repeats On</label>
                    <span class="panel-cell">
                    {{#if model.day_mon }}<b>M</b>{{else}}M{{/if}}
                    {{#if model.day_tue }}<b>T</b>{{else}}T{{/if}}
                    {{#if model.day_wed }}<b>W</b>{{else}}W{{/if}}
                    {{#if model.day_thu }}<b>T</b>{{else}}T{{/if}}
                    {{#if model.day_fri }}<b>F</b>{{else}}F{{/if}}
                    {{#if model.day_sat }}<b>S</b>{{else}}S{{/if}}
                    {{#if model.day_sun }}<b>S</b>{{else}}S{{/if}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="col-md-8 col-xs-12">
{{outlet}}
</div>

{{partial "_create_dates"}}
