<h2 class="sub-heading">People</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">People&nbsp;
            {{#if permissions.is_admin}}
            {{#link-to 'person_create' class="btn btn-primary" title="New User"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
            {{/if}}
        </h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="form-group info">
                <p>Find</p>
                <form role="form" {{action 'findPeople' on="submit"}}>
                    <div class="col-xs-6 col-md-6 col-lg-3">
                        {{input text="search" value=find_firstname placeholder="firstname" class="form-control"}}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-3">
                        {{input text="search" value=find_lastname placeholder="lastname" class="form-control"}}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-3">
                        {{view Ember.Select
                            value=stateSelected
                            content=states
                            optionValuePath="content.value"
                            optionLabelPath="content.name"
                            class="form-control"
                        }}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-3">
                        <button {{action "findPeople"}} class="btn btn-primary" title="Find"><span class="glyphicon glyphicon-search"></span></button>
                        <button {{action "clearFind"}} class="btn btn-default" title="Clear"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    {{#if permissions.is_admin}}<th></th>{{/if}}
                    <th>Name</th><th>Active</th><th>Permissions</th><th>Last Login</th>
                </tr>
              </thead>
              <tbody>
            {{#each person in model}}
              <tr>
                {{#if permissions.is_admin}}
                <td>{{#link-to 'person_edit' person class="btn btn-default"}}Edit{{/link-to}}</td>
                {{/if}}
                <td>{{#link-to 'person' person}}{{person.name}}{{/link-to}}</td>
                <td class="center">
                    {{#if person.active}}
                    <span class="glyphicon glyphicon-ok"></span>
                    {{/if}}
                </td>
                <td>{{person.user_role}}</td>
                <td>{{dateFromNow person.last_login}}</td>
              </tr>
            {{/each}}
              </tbody>
           </table>
            {{partial "_people_pager"}}
       </div>
    </div>
</div>
