    <h2 class="sub-heading">{{model.name}}</h2>
    <p class="sub-heading">{{ model.email }}</p>

    {{partial "rota"}}
    {{#if canAdministratePerson}}
        {{partial "away_dates"}}
        {{partial "confirm_dialog"}}
    {{/if}}
