
    <h2 class="sub-heading">{{model.name}}</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Person Details</h3>
            <div id="message" hidden></div>
        </div>
        <div class="panel-body">
            <table class="panel-form">
            <tbody>
                <tr>
                    <td>
                        <label>Name</label><span class="panel-cell">{{ person.name }}</span>
                    </td>
                    <td>
                        <label>Email</label><span class="panel-cell">{{ person.email }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Permissions</label><span class="panel-cell">{{ person.user_role }}</span>
                    </td>
                    <td>
                        <label>Last Access</label><span class="panel-cell">{{dateFromNow person.last_login}}</span>
                    </td>
                </tr>
                <tr>
                     <td colspan="2">
                        <label>Roles</label>
                        <span class="panel-cell">
                        {{#each r in person.person_roles }}
                        <span class="label label-default">{{ r.name }}</span>
                        {{/each}}
                        </span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    {{partial "rota"}}
    {{partial "away_dates"}}
    {{partial "confirm_dialog"}}
