<h2 class="sub-heading">New Person</h2>

{{#if error }}
<div class="alert box alert-danger">
  <h4>Application Error</h4>
  <div>
  {{error}}
  </div>
</div>
{{/if}}

<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" {{action 'saveNewPerson' on="submit"}}>
            <div class="form-group">
                <label>Firstname</label>
                {{input value=firstname class="form-control" placeholder="firstname"}}
            </div>
            <div class="form-group">
                <label>Lastname</label>
                {{input value=lastname class="form-control" placeholder="lastname"}}
            </div>
            <div class="form-group">
                <label>Email</label>
                {{input value=email class="form-control" placeholder="email"}}
            </div>
            <div class="form-group">
                <label>Permissions</label>
                {{view Ember.Select
                        value=user_role
                        content=roles
                        optionValuePath="content.value"
                        optionLabelPath="content.name"
                        class="form-control"
                }}
            </div>

        </form>
    </div>
    <div class="panel-footer">
        <button {{action 'saveNewPerson' model}} class="btn btn-primary">Save</button>&nbsp;
        {{#link-to 'people' class="btn btn-default"}}Cancel{{/link-to}}
    </div>
</div>